.update{
    margin-top: 27px;
    width: 10%;
    font-size: 16px;
}
.form-group{
    margin-top: 2%;
}
.main_tab{
    margin-left: 2%;
}
.main_tab1{
    margin-left: 10%!important;
}
.skin-purple-light .main-header .navbar {
    background-color: #809fff!important;}