.header{
    background-color: #6600cc;
padding: 1%;}
.buton_dropDown {
    background-color: unset;
    border:unset;
    color: white;

}
.links{
    color: white;
    font-size: large;
    
}
.link{
    color:white
}
.background-body{
    color: lightgray;
}
a:hover{
    color: white;
    text-decoration: none;
}