.login-page{
    background-image:url('../images/trvel.jpg');
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}
.login_logo{
    font-size: 35px;
    margin-top: 8%;
    font-weight: 600; 
    color: midnightblue;
}
.login-box{
    background-color: #fff;
    color: #666;
    padding: 4%;
}
.sign_in_data{
    margin-top: 4%;
    color:white;
    padding-left: 0px;
    font-weight: 600;
}

.sign_in_data:hover{
    color:white;
text-decoration: none;
}
.btn-primary{
    color:  #809fff!important;
}